@use 'sass:color';

$textColor: aliceblue;

#tileContextMenu {
  position: absolute;
  width: max-content;
  background-color: rgb(0.2, 0.2, 0.25);
  z-index: 100;
  display: flex;
  flex-direction: column;
  transform: scale(1);
  transform-origin: center;
  color: $textColor;

  transition: transform 0.2s ease-in-out;

  button {
    outline: none;
    border: none;

    padding: 0.2rem 0.35rem;
    color: $textColor;

    transition: color 0.2s ease-in-out;

    &:hover {
      color: tan;
    }

    &[disabled] {
      color: #454545;
    }
  }

  hr {
    width: 85%;

    border: solid 1px #454545;
  }

  &:not(.open) {
    transform: scale(0);
  }
}
